/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


h1, h2, h3, h4 {
	font-family: url(https://fonts.googleapis.com/css?family=Oswald:300), "Polaris Condensed", Georgia, "Times New Roman", Times, serif;
	color: #666;
  letter-spacing: 1px;
}

hr {
  border-color: #666;
}

body {
	font-family: url(https://fonts.googleapis.com/css?family=Oswald:300), "Polaris Condensed", Georgia, "Times New Roman", Times, serif !important;
  margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 50px;
}

// Place all the styles related to the Survey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
	color:#00aced;
}

i {
  color: #FF0000;
}

small {
  font-size: 85% !important;
}

.drop-downtoggle {
	font-family:  Georgia, "Times New Roman", Times, serif;
	line-height: 5px;
	font-size: 10em;
	background-color: white;
}

label {
  color: #666;
}

div.container {
  width: 750px;
}

a:hover,
a:focus {
  text-decoration: none !important;
}

.survey-form {
  padding-bottom: 40px;
}

.answers-number {
  padding-left: 20px;
  padding-bottom: 10px;
  color: #666;
}
  .number {
    font-size: 15px;
  }

.chosen {
  font-weight: bold;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 6px solid #FF0000;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

ol.questions {
  margin-bottom: 30px;
}

.questions {
  padding-left: 20px;
}
.questions.li {
  font-size: 16px;
  padding-bottom: 20px;
}
.question {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;

  border-bottom: 1px solid #999;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
* {
  font-size: 14px;      
  padding-bottom: 0;
}

.options {
  padding-left: 0;
}

.survey-title {
  padding-bottom: 15px;
}

.survey-description {
  color: #666;
  font-size: 15px;
}

.navbar-brand {
  padding: 10px;
}

.label {
  padding-top: 0.6em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  padding-left: 0.8em;
}
.label-survey {
  margin-right: 5px;
  margin-left: 40px;
}
.label-survey-quiz {
    background-color: #ee2737;
  }
.label-survey-poll {
    background-color: #00aced;
  }
.label-survey-score {
    background-color:  #02E603;
  }
.label-survey-all {
    background-color: #666666;
  }

.label-with-badges {
  display: inline-block;
  padding: 5px 10px;
}

.label-badge {
  padding: 2px 5px;
  font-size: 10px;
  background-color: white;
}
.label-survey span {
  vertical-align: middle;
}

.label-badge-quiz {
    color: #ee2737 !important;
  }

.label-badge-poll {
    color: #00aced !important;
  }

.label-badge-score {
    color: #02E603 !important; 
  }

.label-badge-all {
    color: #666;
  }

.survey-table {
  margin-top: 15px;
}

td {
    vertical-align: middle !important;
  }


.survey-buttons {
  min-width: 150px;
}

.table-center {
  text-align: center;
}

.table-nonfluid {
  width: auto !important;
}

#logo-img {
  display: inline-block;
  width: 35px;
  vertical-align: middle;
  margin-right: 3px;
}

#logo-text {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}

.navbar-default {
	background-color: white !important;
}

.navbar {
  height: 60px;
  background-color: white;
  margin-bottom: 0;
  border-bottom: 7px solid #000;
}
.navbar a {
  padding-bottom: 10px;
	display: inline-block;
}
.navbar li {
	margin: 0 auto;
}
.navbar-text {
/*	padding-right: 60px;
	margin-right: 20%;*/
}

a.navbar-brand {
  display: none;
}
.navbar-brand {
	display: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: white;
  border-bottom: 3px solid #FF0000;
}

.gem-info {
  height: 30px;
  line-height: 30px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
}

input.btn-default {
  background-color: #00aced;
  border: none;
  color: white;
}

input.pull-right {
  margin-top: 30px;
  float: left !important;
}

a.btn-default {
  color: #00aced;
}

a#remove-attach {
  color: #FF0000;
}

.btn-primary {
	background-color: #00aced;
  border: none;
  color: white;
}

.headerCreateSurvey {
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 3px #666 solid;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  background-color: #f8f8f8;
}